
<div class="layout">
  <!--Header - Logo-->
  <header class="header">
    <img src="./assets/images/logo.svg" class="header__logo-img" alt="Base Apparel Logo" />
  </header>


  <!--Contenido-->
  <main class="content">

    <!--Titulo-->
    <h1 class="content__title">
      <span class="title__highlight">We're</span><br/> coming<br/> soon
    </h1>

    <!--Descripcion-->
    <p class="content__description">
      Hello fellow shoppers! We're currently building our new fashion store. Add your email below to stay up-to-date with announcements and our launch deals.
    </p>

    <!--Direccion de correo electronico-->
    <app-form />
  </main>

  <!--Aside - Imagen-->
  <aside class="sidebar">
    <picture class="sidebar__container-img">
      <source media="(max-width: 891px)" srcset="./assets/images/hero-mobile.jpg"/>
      <img src="./assets/images/hero-desktop.jpg" class="sidebar__img" alt="Hero" />
    </picture>
  </aside>

  <!--Pie de Página-->
  <footer class="footer">
    <p class="attribution">
      Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>.
      Coded by <a href="#">Roraima Lugo</a>.
    </p>
  </footer>
</div>
